<div class="email-view my-theme">
  <ng-container *ngIf="!editMode">
    <h2>Email list</h2>
    <mat-list class="list-container">
        <mat-list-item *ngFor="let email of emailList">
          <div class="email-item">
            <span>{{email.name}}</span>
            <div>
              <button mat-icon-button (click)="onShow(email.id!)">
                <i class="fa fa-eye"></i>
              </button>
              <button mat-icon-button color="primary" (click)="onEdit(email.id!)">
                <i class="fa fa-pen"></i>
              </button>
              <button mat-icon-button color="warn" (click)="onDelete(email.id!)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <button mat-flat-button color="primary" (click)="onAddNew()">Add new</button>
  </ng-container>
  <ng-container *ngIf="editMode">
    <h2 *ngIf="$any(form.value).id">Edit Email</h2>
    <h2 *ngIf="!$any(form.value).id">Create Email</h2>
    <form class="email-form" [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="email" formControlName="name" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Watched Folder</mat-label>
        <input matInput formControlName="watchedFolder" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Provider</mat-label>
        <mat-select formControlName="provider">
          <mat-option *ngFor="let provider of providerList" [value]="provider">
            {{provider}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p><mat-checkbox formControlName="storeAttachments" name="some_name" checked="true">Store Attachments</mat-checkbox></p>
    </form>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid">Save</button>
    <button mat-flat-button (click)="refresh()">Cancel</button>
  </ng-container>
</div>
